.animate{
    p{
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 600px;
        display: flex;
        font-size: 40px;
        background-color: #790000;
        color: white;
        font-weight: 700;
        margin: 100px 0;
    }
}